🟡 Terminänderung
🔥 {% if old.summary == new.summary %}{{old.summary}}{% else %}{{new.summary}} (umbenannt von {{old.summary}}){% endif %}
🕒 {% if old.start != new.start %}Beginnt {{new.start}} statt {{old.start}}{% else %}{{old.start}}{% endif %}
🕒 {% if old.end != new.end %}Endet {{new.end}} statt {{old.end}}{% else %}{{old.end}}{% endif %}
🏫 {% if old.location == new.location %}{{old.location}}{% else %}Neuer Ort ist 
👉 {{new.location}} 👈
    statt
👎 {{old.location}} 👎{% endif %}
〰

